.Container {
  padding: 0.5rem 0.5rem 0.5rem 0.7rem;
  color: rgb(var(--secondary-text-color));
  align-self: center;
  border: 1px solid rgb(var(--outline-color));
  border-radius: calc(var(--border-radius-small) * 2);
  background-color: rgb(var(--secondary-color));
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.Spacer {
  min-width: 1rem;
}
