@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.EditingBottomBar {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 auto;
  position: sticky;
  bottom: 0;
  width: 100%;
  align-self: center;
  background-color: rgb(var(--highlight-color));
  height: var(--menu-bar-collapsed-height);
  align-items: center;
  padding: 0 10px;
  font-size: 0.5rem;
  box-shadow: 0px 4px 10px 1px rgba(var(--shadow-color), 0.5);
  box-sizing: border-box;
  animation: fadeIn 1s;
}

.FeedGroupIndex {
  margin: 0 5px;
}

.FeedGroupButton {
  margin-left: 5px;
}
