@keyframes shadeIn {
  0% {
    background-color: rgba(var(--header-color), 0);
  }
  100% {
    background-color: rgba(var(--header-color), 0.8);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.FocusedFeedContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: rgba(var(--header-color), 0.8);
  animation: shadeIn 400ms;
}

.FocusedFeed {
  position: absolute;
  top: 50px;
  bottom: calc(var(--menu-bar-collapsed-height) + 50px);
  left: env(safe-area-inset-left, 0);
  right: env(safe-area-inset-left, 0);
  max-width: 600px;
  background-color: rgb(var(--highlight-color));
  margin: 0 auto;
  padding: 10px;
  animation: fadeIn 200ms;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-small);
}

.FeedTitleRow {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 10px;
}

.FeedTitle {
  flex: 0 0 auto;
  margin-left: 5px;
  white-space: nowrap;
}

.CloseButton {
  margin-left: 9px;
}

.FeedEntriesContainer {
  flex: 1 1 auto;
  overflow: auto;
  font-size: 0.7rem;
  padding: 0 10px;
}

.ButtonBar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ChannelIds {
  display: block;
}

.YouTubeSubChannelId {
  border-radius: 5px;
  padding: 5px 7px;
  background-color: rgb(var(--header-color));
  display: inline-flex;
  flex-flow: row nowrap;
  margin: 0 5px 5px 0;
}

.YouTubeSubName {
  flex: 1 1 auto;
  /* https://stackoverflow.com/questions/38781089/font-family-monospace-monospace */
  font-family: monospace, monospace;
}

.YouTubeSubRemove {
  flex: 0 0 auto;
  margin-left: 5px;
}

.YouTubeForm {
  display: flex;
}

.YouTubeInput {
  flex: 1 1 auto;
  font-family: monospace, monospace;
}

.FormLabel {
  margin-right: 10px;
}

.RowWithErrorMessage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
}

.ErrorMessage {
  color: red;
  display: none;
  font-size: 0.5rem;
  margin-right: 10px;
}

.Show {
  display: unset;
}

.IncludeRegexInput {
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .FocusedFeedContainer {
    display: none;
  }
}
